body {
  user-select: none;
  text-align: center;
  background-image: url(assets/skillset.png);
  background-repeat: no-repeat;
}
@media screen and (max-width: 520px) {
}
.searchBox {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.searchBox input {
  width: 60%;
  height: 50px;
  border: none;
  background-color: chocolate;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 1.75em;
  line-height: 30px;
}
.searchBox input:focus {
  outline: none;
}

.listitems {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

#currentItems {
  background-color: lightblue;
  color: green;
  width: 50%;
  padding: 0px 20px;
  overflow-y: scroll;
  height: 100%;
}
#currentItems div,
#crossedItems div {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  margin-bottom: 5px;
  border-radius: 2px;
  padding: 10px 15px;
  cursor: pointer;
}
#crossedItems {
  background-color: lightsalmon;
  color: white;
  width: 50%;
  padding: 0px 20px;
  overflow-y: scroll;
  height: 100%;
}
#crossedItems div {
  text-decoration: line-through;
}
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: azure;
}

.header input {
  height: 40px;
  padding: 10px 15px;
  background-color: orangered;
  color: white;
  border: none;
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 01px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
color:white;
}